body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url('photos/dolores-park.jpg');
  background-size: cover;
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}
body, a:link, a:visited, a:active{
  color: #000;
}
.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #5E2612;
  opacity: 0.6;
/*  z-index: 1;*/
  left: 0;
  top: 60px;
}

.prideBars {
  display: none;
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 60px;
  width: 100%;
}

.prideBars > div {
  height: 16.66666666666667%; /* 100% / 6 */
  width: 100%;
}

.bar1 {
  background: #ff3e18;
}

.bar2 {
  background: #fc9a00;
}

.bar3 {
  background: #ffd800;
}

.bar4 {
  background: #39ea7c;
}

.bar5 {
  background: #0bb2ff;
}

.bar6 {
  background: #985aff;
}

a {
  text-decoration: none;
}

.Hipster:hover {
  font-family: 'Rye', cursive;
  margin-top: 5px;
  font-size:22px;
}

.prideButton:hover {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.title, .addDancerButton, .lineUpButton, .cancanButton, .Hipster, .prideButton, .burritoButton{
  padding:5px 12px;
  float:left;
}

.addDancerButton, .lineUpButton, .cancanButton, .Hipster, .prideButton, .burritoButton {
  padding-top: 10px;
}

.topbar{
  height:60px;
  background-color: #fff;
}
.title{
  background-color: #fff;
  font-size: 36px;
}

.dancer{
  position:absolute;
  top: 100px;
  left: 100px;
  display: none;
}

.hipster {
  display: block;
  content: url('photos/hipsters.png');
  height: 150px;
}

.burrito {
  display: block;
  content: url('photos/mission-burrito-gif.gif');
  height: 100px;
}

.pbr {
  display: block;
  content: url('photos/PBR.jpg');
  height: 100px; 
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  }
  @-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }

  .dog {
    display: block;
    content: url('photos/dog.png');
    border: none;
    height: 100px; 
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 1.5s; 
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    }

    @keyframes floating {
      0% {
      transform: translateY(0%);  
      }
      50% {
      transform: translateY(8%);  
      } 
      100% {
      transform: translateY(0%);
      }     
    }

    @-webkit-keyframes floating {
      0% {
      -webkit-transform: translateY(0%);  
      }
      50% {
      -webkit-transform: translateY(8%);  
      } 
      100% {
      -webkit-transform: translateY(0%);
      }     
    }
  }

  .fade {
    animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    transform: scale(1.1);  
  }
  80% {
    transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    transform: scale(1);
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(1);
    opacity: 1; 
  }   
  }